@charset "utf-8";

/* ==========================================================================
   Variables {{{1
   ========================================================================== */

// Option 1
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
// Place variable overrides first, then import just the styles you need.
// Note that some stylesheets are required no matter what.

// Toggle global options
$enable-shadows: false;
//$enable-gradients: true;

// This enables auto switching to dark mode based on the client's OS/browser settings:
$color-mode-type: media-query;

//$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Include functions first
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$theme-colors: (
  "primary":           $blue-800,
  "secondary":         $secondary,
  "success":           $success,
  "info":              $info,
  "warning":           $warning,
  "danger":            $danger,
  "light":             $light,
  "dark":              $dark
);

// Customize some defaults
$body-color:           #111118;
$body-bg:              #fffff8;
$primary:              $blue-800;
$light:                #fcf9e6;
$body-emphasis-color:  $primary;
$link-decoration:      none;
$border-radius:        .4rem;

$link-color:           $primary;
$link-hover-color:     $blue-900;
$component-active-bg:  $primary;
$pagination-active-bg: $primary;


/* ==========================================================================
   Font providers {{{1
   ========================================================================== */

@import url("https://use.typekit.net/hny1sfi.css");
@import url("https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@font-face {
    font-family: 'Weiss Std'; // Weiss Std normal italic {{{2
    src: url('https://tradicional.arq.br/assets/fonts/weissstd-italic-webfont.woff2') format('woff2'),
         url('https://tradicional.arq.br/assets/fonts/weissstd-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Weiss Std'; // Weiss Std bold {{{2
    src: url('https://tradicional.arq.br/assets/fonts/weissstd-bold-webfont.woff2') format('woff2'),
         url('https://tradicional.arq.br/assets/fonts/weissstd-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Weiss Std'; // Weiss Std extra bold {{{2
    src: url('https://tradicional.arq.br/assets/fonts/weissstd-extrabold-webfont.woff2') format('woff2'),
         url('https://tradicional.arq.br/assets/fonts/weissstd-extrabold-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Weiss Std'; // Weiss Std regular {{{2
    src: url('https://tradicional.arq.br/assets/fonts/weissstd-webfont.woff2') format('woff2'),
         url('https://tradicional.arq.br/assets/fonts/weissstd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face { // UnB Pro 900 {{{2
  font-family: "UnB Pro";
  src:
    url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_black.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_black.woff2") format("woff2"),
    url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_black.woff") format("woff"),
    url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_black.svg#unb_problack") format("svg");
  src: url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_black.eot");
  font-style: normal;
  font-weight: 900;
}
@font-face { // UnB Pro 700 italic {{{2
  font-family: "UnB Pro";
  src:
    url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_bold_italic.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_bold_italic.woff2") format("woff2"),
    url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_bold_italic.woff") format("woff"),
    url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_bold_italic.svg#unb_probold_italic") format("svg");
  src: url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_bold_italic.eot");
  font-style: italic;
  font-weight: 700;
}
@font-face { // UnB Pro 700 {{{2
  font-family: "UnB Pro";
  src:
    url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_bold.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_bold.woff2") format("woff2"),
    url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_bold.woff") format("woff"),
    url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_bold.svg#unb_probold") format("svg");
  src: url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_bold.eot");
  font-style: normal;
  font-weight: 700;
}
@font-face { // UnB Pro 400 italic {{{2
  font-family: "UnB Pro";
  src:
    url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_italic.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_italic.woff2") format("woff2"),
    url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_italic.woff") format("woff"),
    url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_italic.svg#unb_proregular_italic") format("svg");
  src: url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_italic.eot");
  font-style: italic;
  font-weight: 400;
}
@font-face { // UnB Pro 300 {{{2
  font-family: "UnB Pro";
  src:
    url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_light.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_light.woff2") format("woff2"),
    url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_light.woff") format("woff"),
    url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_light.svg#unb_prolight") format("svg");
  src: url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_light.eot");
  font-style: normal;
  font-weight: 300;
}
@font-face { // UnB Pro 400 {{{2
  font-family: "UnB Pro";
  src:
    url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_regular.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_regular.woff2") format("woff2"),
    url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_regular.woff") format("woff"),
    url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_regular.svg#unb_proregular") format("svg");
  src: url("https://cdn.palazzo.arq.br/assets/fonts/unb_pro_regular.eot");
  font-style: normal;
  font-weight: 400;
}

// Font variables {{{2
$font-family-serif:    "eb-garamond", "et-book", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$font-family-unb:      "UnB Pro", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-narrow:   "open-sans-condensed", "league-gothic", "Arial Narrow", sans-serif;

$font-family-base:     $font-family-unb;
$headings-font-family: 'Weiss Std', Georgia, serif;
$headings-font-weight: 700;
$headings-font-style:  normal;
$headings-color:       $body-color;
$legend-font-weight:   500;


/* ==========================================================================
   Imports {{{1
   ========================================================================== */

// Required
// @import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
@import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
@import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
// @import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";


/* ==========================================================================
   Custom styles {{{1
   ========================================================================== */

// Structural elements {{{2
// general {{{3
* {
  transition: 0.3s;
}

body {
  font-variant-numeric: oldstyle-nums proportional-nums;
  counter-reset: sidenote-counter;
}

h2 {
  @extend .w-100;
}

table {
  @extend .my-3;
  @extend .border-top;
  @extend .border-bottom;
  @extend .border-3;
  border-collapse: collapse;
  thead {
    @extend .border-bottom;
  }
  th,
  td {
    @extend .px-2;
  }
}

// figures and quotes {{{3
section > figure {
  @extend .figure;
  img {
    @extend .figure-img;
    @extend .img-fluid;
    @extend .border;
    @media (prefers-color-scheme: dark) {
      opacity: 0.8;
    }
  }
}

figcaption,
blockquote > footer {
  @extend .figure-caption;
}

article figcaption,
blockquote > footer {
  @extend .float-lg-end;
  @extend .col-lg-6;
  clear: right;
}

// Typography {{{2
// main {{{3
main p,
.notes {
  hyphens: auto;
}

h1,
h4,
h5,
h6 {
  @extend .w-auto;
  @extend .fw-light;
}

.subtitle,
h1,
h2,
h3 {
  font-family: $headings-font-family;
  font-variant-numeric: lining-nums;
}

article > h2,
article > section > h2 {
  @extend .text-center;
  color: $primary;
  @media (prefers-color-scheme: dark) {
    color: $light;
  }
}

article {
  font-size: 1.3rem;
  font-family: $font-family-serif;
  h2:not(first-of-type) {
    @extend .mt-5;
  }
  a:not(.btn) {
    color: inherit;
    text-decoration: underline;
  }
}

// lists {{{3
h5,
dt {
  @extend .me-2;
  font-family: $font-family-base;
  font-variant: small-caps;
}

dt {
  @extend .d-inline-block;
  @extend .float-start;
  @extend .pe-3;
  @extend .fw-medium;
}

main .row > ul li::marker {
  content: "– ";
}

.capitalize-first {
  @extend .d-inline-block;
  &:first-letter {
    text-transform: uppercase;
  }
}

small {
  @extend .fw-medium;
}

// table {{{3
table {
  font-family: $font-family-narrow;
}

tfoot,
.keywords-title {
  @extend .fw-bold;
}

// page header {{{3
.site-title {
  @extend .lh-1;
  @extend .fs-5;
  @extend .text-decoration-none;
  @extend .text-primary-emphasis;
  @extend .link-body-emphasis;
  font-family: $headings-font-family;
  .site-subtitle {
    @extend .fst-italic;
    padding-left: 0.5rem !important;
  }
}

#site-nav ul,
.sidebar,
.author__profile,
.toc,
.page-footer {
  @extend .text-body-secondary;
  @extend .fw-light;
  font-family: $font-family-narrow;
  a {
    @extend .text-decoration-none;
    @extend .link-secondary;
  }
}

#site-nav ul {
  @extend .fs-5;
}

.subtitle {
  @extend .display-6;
}

// Card {{{3
h3.card-title,
.btn {
  @extend .fst-normal;
  a {
    @extend .link-body-emphasis;
    @extend .text-decoration-none;
  }
}

.card-header,
.card-footer {
  font-family: $font-family-narrow;
}

.card-text {
  @extend .fw-medium;
  @extend .text-secondary;
}

// Marginalia {{{3
.sidebar,
.toc {
  ul.sidebar__nav > li > a {
    @extend .fw-bold;
    text-transform: uppercase;
  }
}

.author__profile,
.author__profile li {
  a {
    @extend .link-body-emphasis;
    @extend .text-decoration-none;
  }
}

.author__bio {
  @extend .text-secondary;
}


// Quote {{{3
figcaption,
blockquote > footer {
  @extend .fw-medium;
}

q {
  &:before {
    content: "« ";
  }
  &:after {
    content: " »";
  }
}

// IDs {{{2
#hero {
  @extend .d-flex;
  @extend .mb-5;
  @extend .p-5;
  @extend .border-bottom;
  @extend .align-items-center;
  @extend .justify-content-center;
  @extend .text-center;
  @extend .bg-body-tertiary;
  background-size: cover;
  background-position: center;
  input {
    background-color: rgba($body-bg, 80%);
    @media (prefers-color-scheme: dark) {
      background-color: rgba($body-bg-dark, 70%);
    }
  }
  h1,
  .lead {
    color: $body-emphasis-color;
    text-shadow: 1px 1px 2px rgba($body-bg, 70%);
    @media (prefers-color-scheme: dark) {
      color: var(--bs-body-color);
      text-shadow: 1px 1px 2px rgba($body-bg-dark, 70%);
    }
  }
}

#bibliography {
  @extend .h2;
}

// Bootstrap Classes {{{2
// Masthead {{{3
.masthead,
.page-footer {
  @extend .d-flex;
  @extend .flex-wrap;
  @extend .align-items-center;
  @extend .justify-content-between;
  @extend .justify-content-xl-evenly;
  @extend .px-3;
}

ul.nav,
.site-title {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .mb-3;
  @extend .mb-lg-1;
  @extend .me-2;
}

ul.nav {
  @extend .col-12;
  @extend .col-lg-auto;
  @extend .mx-lg-3;
  @extend .justify-content-end;
  li {
    @extend .mx-auto;
    @extend .mx-lg-0;
    @include media-breakpoint-down(sm) {
      width: 100%;
      border-bottom: 0.5px dotted $secondary;
    }
  }
  a {
    @extend .link-secondary;
    @include media-breakpoint-down(sm) {
      padding-left: 0;
    }
  }
  @include media-breakpoint-down(md) {
    border-top: 1px solid $secondary;
    border-bottom: 1px solid $secondary;
    border-collapse: collapse;
  }
}

.site-title {
  .site-subtitle {
    @extend .d-inline;
    @extend .ps-3;
  }
}

// Bootstrap specs <blockquote> wrapped in <figure>. {{{3
blockquote > footer,
blockquote + figcaption {
  @extend .col-lg-6;
}

blockquote > footer {
  @extend .blockquote-footer;
}

.blockquote {
  @extend .my-3;
  @extend .ps-5;
}

// Card and actions {{{3
.card-img-top {
  @extend .object-fit-cover;
  aspect-ratio: 3 / 2;
  width: 100%;
}

.card-header {
  @extend .fw-medium;
}

.btn {
  font-family: $font-family-unb;
}

.btn-outline-primary {
  @media (prefers-color-scheme: dark) {
    border-color: $blue-400;
    color: $blue-400;
  }
}

.btn-primary {
  @media (prefers-color-scheme: dark) {
    .background-color: $blue-400;
  }
}

.ratio img {
  @extend .object-fit-cover;
}

// Footer {{{3
.page-footer {
  @extend .my-4;
  @extend .border-top;
}

// Tufte, crossref and CSL classes {{{2
// Columns {{{3
main {
  @extend .d-md-flex;
  @extend .flex-md-nowrap;
}

.container.has-sidebar {
  @extend .ms-lg-0;
  @extend .d-md-flex;
  @extend .flex-grow-1;
}

article {
  @extend .g-3;
}

article > section:not(.wide),
.lead {
  @extend .col-lg-8;
  h2 {
    @extend .ms-0;
    @extend .clearfix;
    @include media-breakpoint-up(lg) {
      width: 150% !important;
    }
  }
}

.has-infobox {
  @extend .col;
  @extend .col-lg-5; // Accommodates .sidenote
}

.lead {
  @extend .mx-auto;
}

// typography {{{3
hr.clearfix { // invisible border to separate .newthought sections
  @extend .border-0;
}

h5 { // semantic emulation of .newthought
  @extend .lh-1;
  @extend .mb-0;
  margin-top: .375rem;
  font-family: inherit;
  float: left;
  vertical-align: baseline;
}

.epigraph {
  @extend .mt-5;
  @extend .col-10;
  @extend .offset-2;
  @extend .col-xl-8;
  @extend .offset-xl-4;
  @extend .fst-italic;
  + .blockquote-footer {
    @extend .col-10;
    @extend .offset-2;
    @extend .col-lg-8;
    @extend .offset-lg-4;
    @extend .col-xl-6;
    @extend .offset-xl-6;
    text-align: right;
    @include media-breakpoint-up(lg) {
      text-align: left;
    }
  }
}

// CSL {{{3
.hanging-indent .csl-entry {
  @extend .my-3;
  @extend .ps-4;
  text-indent: -1.3rem;
}

// Marginalia {{{3
.aside {
  @extend .col-md-4;
  @extend .col-lg-3;
  @extend .float-lg-end;
  clear: right;
  * {
    @extend .w-100;
  }
}

.sidebar,
.author__profile,
.toc {
  ul {
    @extend .list-unstyled;
    &.sidebar__nav > li {
      @extend .py-2;
      @extend .border-bottom;
    }
  }
}

.sidebar {
  @extend .order-first;
  @extend .d-md-flex;
  @extend .flex-column;
  @extend .flex-shrink-1;
  @extend .me-5;
  @extend .ms-auto;
  @extend .ps-5;
  @extend .opacity-50;
  &:hover {
    @extend .opacity-100;
  }
}

.sidebar,
.col.author__profile {
  @include media-breakpoint-up(lg) {
    width: 250px;
    max-width: 250px;
  }
  i + .label {
    @extend .ps-2;
  }
}

// Sidenote {{{2
.sidenote,
.marginnote {
  @extend .fs-6;
  padding: 1rem;
  display: inline;
  @include media-breakpoint-down(md) { // {{{3
    cursor: pointer;
    // _utilities.scss > .offcanvas
    position: fixed;
    bottom: 0;
    z-index: var(--bs-offcanvas-zindex);
    max-width: 100%;
    visibility: hidden;
    background-color: var(--bs-offcanvas-bg);
    background-clip: padding-box;
    outline: 0;
    transition: var(--bs-offcanvas-transition);
    // _utilities.scss > .offcanvas-bottom
    right: 0;
    left: 0;
    height: var(--bs-offcanvas-height);
    max-height: 100%;
    border-top: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(100%);
    // _utilities.scss > .offcanvas .close
    --bs-offcanvas-zindex: 1045;
    --bs-offcanvas-width: 400px;
    --bs-offcanvas-height: 30vh;
    --bs-offcanvas-padding-x: 1rem;
    --bs-offcanvas-padding-y: 1rem;
    --bs-offcanvas-color: var(--bs-body-color);
    --bs-offcanvas-bg: var(--bs-body-bg);
    --bs-offcanvas-border-width: var(--bs-border-width);
    --bs-offcanvas-border-color: var(--bs-border-color-translucent);
    --bs-offcanvas-box-shadow: var(--bs-box-shadow-sm);
    --bs-offcanvas-transition: transform 0.3s ease-in-out;
    --bs-offcanvas-title-line-height: 1.5;
    // end .offcanvas
  }
  .margin-toggle:checked + & {
    transform: none;
    visibility: visible;
  }
  @include media-breakpoint-up(lg) { // {{{3
    display: block;
    padding: 0 0 0 1rem;
    float: right;
    clear: right;
    margin-right: -50%;
    width: 50%;
  }
}

.sidenote-number { // {{{3
  @extend .mx-1;
  @extend sup;
  font-family: inherit;
  counter-increment: sidenote-counter;
  &:after {
    content: counter(sidenote-counter);
  }
  + .margin-toggle {
    display: none;
  }
}

.sidenote {
  text-indent: -0.75rem;
  &:before {
    @extend .d-inline;
    @extend .text-start;
    @extend .text-nowrap;
    content: counter(sidenote-counter) " ";
  }
}

input.margin-toggle {
  @extend .d-none;
}

label.margin-toggle:not(.sidenote-number) {
  @extend .d-lg-none;
  @extend .px-1;
  cursor: pointer;
}

.sidenote,
.marginnote,
.margin-toggle:not(.sidenote-number),
.sidenote:before {
  @extend .fw-medium;
  @extend .text-secondary;
}

// subfigures {{{3
.subfigures > figcaption {
  @extend .col-lg-4;
  @extend .float-lg-end;
  p {
    @extend .text-start;
  }
}


// Custom classes {{{2
// hero {{{3
.hero-home {
  @include media-breakpoint-up(lg) {
    min-height: 50vh;
  }
  @media (prefers-color-scheme: dark) {
    opacity: 80%;
  }
  &.suppress-title {
    aspect-ratio: 1.9 / 1;
    h1 {
      @extend .d-none;
    }
  }
}

.hero__caption {
  @extend .position-absolute;
  @extend .bottom-0;
  @extend .end-0;
  @extend .px-3;
  @extend .text-end;
  @extend .opacity-50;
  @extend .text-bg-dark;
  @extend small;
  @include media-breakpoint-up(md) {
    border-top-left-radius: var(--bs-border-radius) !important;
  }
  a {
    @extend .link-light;
    @extend .link-opacity-75;
    &:hover {
      @extend .link-opacity-100;
    }
  }
}

// archive & author {{{3
.archive__row {
  @extend .row;
  @extend .row-cols-md-2;
  @extend .row-cols-lg-3;
  @extend .row-cols-xl-6;
  @extend .g-3;
  @extend .mx-5;
  @extend .justify-content-center;
}

.col.author__profile {
  @extend .mx-3;
}

// keywords {{{3
.keywords,
.keywords li {
  @extend .d-inline;
  @extend .m-0;
  @extend .p-0;
}

// image {{{3
.line {
  @extend .border-0;
  @media (prefers-color-scheme: dark) {
    filter: invert(.86);
  }
}

// footer {{{3
.page-footer__credit {
  @extend .d-flex;
  @extend .col-md-4;
  @extend .align-items-center;
  @extend .text-body-secondary;
}

// TimelineJS {{{3
.tl-timeline,
.tl-slider-background {
  background-color: var(--bs-body-background) !important;
}

.tl-headline,
.tl-slidenav-description {
  color: var(--bs-body-color) !important;
}

.tl-slidenav-icon,
.tl-slidenav-title {
  color: var(--bs-body-color) !important;
  text-shadow: 1px 1px var(--bs-body-background) !important;
}
// vim: shiftwidth=2 tabstop=2 expandtab foldmethod=marker nowrap
